hdd
qmk_firmware/
.cache/
.local/
.m2/
.pki/
.ssh/
.zsh_history

.config/calcure/
.config/clipse/tmp_files/
.config/clipse/clipboard_history.json
.config/clipse/clipse.log
.config/dconf/
.config/go/
.config/google-chrome/
.config/mimeapps.list
.config/pulse/
.config/systemd/user/default.target.wants/
.config/systemd/user/graphical-session.target.wants/
.config/systemd/user/timers.target.wants/
.config/wallpapers/
.config/zsh-plugins/
